@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.control{
    min-width: 1200px;
}

[class^="icon-"], [class*=" icon-"]{
    color: #ffffff;
}

$themecolor : #1dd2af;
$themecolor2 :#2c3e50;