@charset "utf-8";

@import"common.scss";



.footer {
    height: 446px;
    width: 100%;
    background-color: $themecolor2;

    .top {
        height: 290px;
        //为什么此边框不显示？
        border-bottom: 2px #2c3e50 solid;

        .container {
            width: 1173px;
            height: 290px;
            margin: auto auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;


            >div {
                >:first-child {
                    margin: 50px auto;
                }

                .title {
                    font-size: 25px;
                    color: $themecolor;
                    margin-bottom: 20px;
                }
            }


            .onepart {
                width: 220px;

                p {
                    font-size: 13px;
                    color: #fff;
                    line-height: 20px;
                }

                ul {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;

                    >:first-child {
                        width: 147px;
                        height: 30px;
                        background-color: #fff;
                        color: #626262;
                        // text-align: center;
                        line-height: 30px;
                        padding-left: 5px;
                    }

                    >:last-child {
                        width: 48px;
                        height: 30px;
                        background-color: $themecolor;
                        color: #fff;
                        text-align: center;
                        line-height: 30px;
                        font-size: 15px;
                    }
                }
            }

            .twopart {
                width: 240px;

                .onecontent {
                    margin-bottom: 20px;
                }

                div {
                    display: flex;


                    .imgdiv {
                        margin: 10px 10px 0 0;
                        width: 38px;
                        height: 38px;
                        border: 2px #fff solid;

                        img {
                            width: 26px;
                            height: 26px;
                            margin: auto auto;
                        }
                    }

                    ul {
                        margin: 10px 10px 0 0;

                        >:first-child {
                            font-size: 13px;
                            color: #fff;
                            margin-bottom: 10px;
                        }

                        >:last-child {
                            font-size: 12px;
                            color: $themecolor;
                        }
                    }
                }

            }

            .threepart {
                width: 220px;

                .tags {
                    font-size: 13px;
                    color: #fff;
                    width: 220px;
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: repeat(11, 14px);
                    grid-template-rows: repeat(4, 25px);
                    grid-gap: 8px 8px;

                    // justify-items: center;
                    li {
                        border: 1px #fff solid;
                        text-align: center;
                        line-height: 25px;
                    }

                    .age {
                        grid-row: 1 / 2;
                        grid-column: 1 / 5;
                    }

                    .cus {
                        grid-row: 1 / 2;
                        grid-column: 5 / 11;
                    }

                    .not {
                        grid-row: 2 / 3;
                        grid-column: 1 / 6;
                    }

                    .con {
                        grid-row: 2 / 3;
                        grid-column: 6 / 9;
                    }

                    .new {
                        grid-row: 3 / 4;
                        grid-column: 1 / 6;
                    }

                    .lan {
                        grid-row: 3 / 4;
                        grid-column: 6 / 10;
                    }

                    .tag {
                        grid-row: 3 / 4;
                        grid-column: 10 / 12;
                    }

                    .nic {
                        grid-row: 4 / 5;
                        grid-column: 1 / 3;
                    }

                    .som {
                        grid-row: 4 / 5;
                        grid-column: 3 / 5;
                    }

                    .por {
                        grid-row: 4 / 5;
                        grid-column: 5 / 8;
                    }
                }
            }

            .fourpart {
                width: 250px;

                .lit {
                    font-size: 13px;
                    line-height: 20px;
                    color: #fff;

                    li {
                        margin: 10px auto;

                        span {
                            color: $themecolor;
                        }
                    }

                    >:first-child {
                        margin-top: 0;
                    }
                }

                .icons {
                    width: 175px;
                    font-size: 20px;
                    margin: 10px 0;
                    display: flex;
                    justify-content: space-between;
                }
            }

        }
    }

    .center {
        margin-top: 10px;
        text-align: center;
        line-height: 30px;

        >:first-child {
            font-size: 15px;
            color: #fff;
        }

        >:last-child {
            font-size: 13px;
            color: #8596a7;
        }
    }

    .bottom {
        width: 100%;
        height: 100px;

        .square {
            border-style: solid;
            border-width: 35px 35px 35px 35px;
            border-color: transparent transparent $themecolor transparent;
            width: 0px;
            height: 0px;
            position: relative;
            top: 15px;//这里必须靠top把三角形顶下来，只设置bottom没有用
            bottom: 0;
            margin: auto auto;

            .gotop {
                width: 40px;
                height: 40px;
                font-size: 30px;
                // text-align: center;
                // line-height: 40px;
                //必须一点点定位，奇怪的定位
                position: relative;
                left: -8px;
                bottom: 6px;
                top: 3px;
            }

        }

    }

}