@charset "utf-8";

@import"common.scss";

.smallcontainer {
    margin-top: 85px;

    h6 {
        text-align: center;
        margin: 10px auto;
    }

    .one {
        font-size: 25px;
        color: $themecolor2;
    }

    .two {
        font-size: 16px;
        color: #626262;
    }
}

.pic {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        margin: auto 10px;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr 70px;
        justify-content: center;
        align-items: center;

        >:first-child {
            grid-row: 2/3;
            grid-column: 1/2;
            color: #626262;
            padding-left: 10%;
            

            :first-child {
                font-size: 16px;
            }

            :last-child {
                font-size: 14px;
            }
        }

        >:last-child {
            grid-row: 2/3;
            grid-column: 2/3;
            color: #9fb0c0;
            // text-align: center;
            font-size: 25px;
            align-self: center;
        }
        .bug{
            color: #9fb0c0;
        }

    }

    .one {
        background-image: url("../images/2_1.png");
        background-size: 100% 100%;
        width: 245px;
        height: 260px;
        margin-left: 0;
        opacity: 0.5;
        ul {
            padding-left: 0;
        }

    }

    .two {
        background-image: url("../images/2_2.png");
        background-size: 100% 100%;
        width: 278px;
        height: 260px;
    }

    .three {
        background-image: url("../images/2_3.png");
        background-size: 100% 100%;
        width: 278px;
        height: 310px;
        align-self: start;

        .special {
            color: #fff;
        }

        .special2 {
            color: #8394a3;
        }

    }

    .four {
        background-image: url("../images/2_4.png");
        background-size: 100% 100%;
        width: 280px;
        height: 260px;
    }

    .five {
        background-image: url("../images/2_5.png");
        background-size: 100% 100%;
        width: 277px;
        height: 262px;
    }

    .six {
        background-image: url("../images/2_6.png");
        background-size: 100% 100%;
        width: 247px;
        height: 260px;
        margin-right: 0;
        opacity: 0.5;
    }
}