* {
  margin: 0;
  padding: 0;
  list-style: none;
}

[class^="icon-"], [class*=" icon-"] {
  color: #ffffff;
}

.search {
  background-color: #2c3e50;
}

.search .container {
  width: 1173px;
  height: 100px;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search .container div {
  font-size: 25px;
}

.search .container div .special {
  color: #9fb0c0;
}

.search .container div .special2 {
  color: #fff;
}

.search .container .searchinput {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search .container .searchinput .special {
  margin: auto 20px;
  font-size: 22px;
}

.search .container .searchinput .divinput {
  width: 325px;
  height: 45px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 95% center;
  text-align: left;
  padding-left: 10px;
  line-height: 45px;
  color: #8a8a8a;
  font-size: 20px;
}

.search .container .searchinput .oneinput {
  background-image: url("../images/earth.png");
}

.search .container .searchinput .twoinput {
  background-image: url("../images/book.png");
}

.search .container .searchbtn {
  width: 100px;
  height: 45px;
  background-color: #1dd2af;
  color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
}
